<header class="head">
    <a 
        class="head-btn btn btn-default pull-left" 
        data-do="go-back" 
        data-on="click" 
        href="/back">
            <i class="fa fa-chevron-left"></i>
    </a>
    <a 
        class="head-btn btn btn-default pull-right search-trigger" 
        href="javascript:void(0)">
            <i class="fa fa-search"></i>
    </a>
    <h1 class="title">
    	<input class="search-field hide" />
        <a 
            data-do="popover-open" 
            data-on="click" 
            href="#popover">
                {{title}} 
                <i class="fa fa-caret-down"></i>
        </a>
    </h1>
</header>

<section class="body with-head detail">
	<div class="post">
        <div class="photo"><img width="100%" src="{{cdn}}{{image}}" /></div>
        <div class="pad">
        	<em class="published text-muted">{{published}}</em>
            <em class="category text-muted">{{category}}</em>
            <h3><a data-do="go-forward" data-on="click" href="/boilerplates/blog/detail/{{slug}}">{{title}}</a></h3>
        </div>
        <div class="focus shares"><span><strong>{{shares}}</strong> SHARES</span></div>
        
        <div class="pad">    
            {{{detail}}}
        </div>
    </div>
    
    <h4 class="upper pad">Comments</h4>
            
    {{#each comments}}
    <div class="focus comment">
        <div class="photo"><img src="{{cdn}}{{avatar}}" /></div>
        <div class="message">
            {{{detail}}}
            <em class="published text-muted">{{published}}</em>
        </div>
    </div>
    {{/each}}
    
    <div class="focus">
        <textarea 
        class="form-control"
        rows="3" 
        placeholder="Add a Comment"></textarea>
    </div>
    
    <div class="pad">
    <button class="btn btn-default comment-button">Comment</button>
    </div>
    
    <h4 class="upper pad">Related</h4>
    
    {{#each related}}
    <div class="post pad related">
        <em class="published text-muted">{{published}}</em>
        <em class="category text-muted">{{category}}</em>
        <h3><a data-do="go-forward" data-on="click" href="/detail/{{slug}}">{{title}}</a></h3>
    </div>
    {{/each}}
</section>